.search-selector-outer {
  display: grid;
}

/* keep secondary text from overflowing */
.mdc-list-item__secondary-text {
  text-wrap: wrap;
}

/* update height of mat option list to fit longer stock names */
.mdc-list-item.mdc-list-item--with-two-lines {
  height: 70px;
}

.selection-list {
  height: 720px;
  overflow-y: scroll;
}
