<div mat-subheader>Stocks</div>

<mat-form-field cdkOverlayOrigin #overlayPosition="cdkOverlayOrigin">
  <mat-label>Ticker</mat-label>
  <input
    #searchInput
    [value]="searchTerm()"
    type="text"
    matInput
    placeholder="Search"
    [(ngModel)]="searchInputValue"
    (click)="overlayOpen.set(true)"
    (keydown.ENTER)="search(searchInput.value)"
  />
  @if (searchInputValue) {
  <button
    matButton
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="searchInputValue = ''"
  >
    <mat-icon>clear</mat-icon>
  </button>
  }
</mat-form-field>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="overlayPosition"
  [cdkConnectedOverlayOpen]="overlayOpen()"
  (overlayOutsideClick)="overlayOpen.set(false)"
>
  <mat-action-list>
    @for (searchTerm of shortRecentSearches; track searchTerm) {
    <mat-divider />
    <mat-list-item (click)="search(searchTerm)">
      <mat-icon matListItemIcon>history</mat-icon>
      <h3 matListItemTitle>{{ searchTerm }}</h3>
      <!-- <button matListItemMeta mat-icon-button (click)="deleteRecentSearch(search)">
          <mat-icon>close</mat-icon>
        </button> -->
    </mat-list-item>
    <mat-divider />
    }
  </mat-action-list>
</ng-template>

<mat-selection-list
  #selectionList
  hideSingleSelectionIndicator
  [multiple]="false"
  (selectionChange)="onSelectionChange($event)"
>
  @for (item of paginatedItems; track item.symbol) {
  <mat-list-option [value]="item.symbol">
    <span matListItemTitle>{{ item.symbol }}</span>
    <span matListItemLine>{{ item.name }}</span>
  </mat-list-option>
  }
</mat-selection-list>

<mat-paginator
  [length]="tickers.length"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onPageChange($event)"
></mat-paginator>
