<div mat-subheader>Stocks</div>

<mat-form-field cdkOverlayOrigin #overlayPosition="cdkOverlayOrigin">
  <mat-label>Ticker</mat-label>
  <input
    #searchInput
    [value]="searchTerm()"
    type="text"
    matInput
    placeholder="Search"
    [(ngModel)]="value"
    (click)="overlayOpen.set(true)"
    (keydown.ENTER)="search(searchInput.value)"
  />
  @if (value) {
  <button
    matButton
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="value = ''"
  >
    <mat-icon>clear</mat-icon>
  </button>
  }
</mat-form-field>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="overlayPosition"
  [cdkConnectedOverlayOpen]="overlayOpen()"
  (overlayOutsideClick)="overlayOpen.set(false)"
>
  <mat-action-list>
    @for (search of shortRecentSearches; track search) {
    <mat-divider />
    <mat-list-item (click)="performSearch(search)">
      <mat-icon matListItemIcon>history</mat-icon>
      <h3 matListItemTitle>{{ search }}</h3>
      <!-- <button matListItemMeta mat-icon-button (click)="deleteRecentSearch(search)">
          <mat-icon>close</mat-icon>
        </button> -->
    </mat-list-item>
    <mat-divider />
    }
  </mat-action-list>
</ng-template>

<mat-selection-list #selectionList (selectionChange)="onSelectionChange($event)">
  <mat-list-option *ngFor="let item of paginatedItems" [value]="item">
    {{ item.symbol }}
  </mat-list-option>
</mat-selection-list>

<mat-paginator [length]="tickers.length" [pageSize]="pageSize" (page)="onPageChange($event)"></mat-paginator>

